<h2>Recuperar Contraseña</h2>

<section class="container">
    <form action="/api/sessions/recoverypassword" method="POST" class="form">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Nueva Contraseña:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Reset">
    </form>
</section>